/* ====== ✅ Tailwind 4.1 syntax ====== */
@import "tailwindcss";

/* ====== 🌍 Estilos globales opcionales ====== */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: transparent;
}
